.window-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
}
.window-title h1 {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
}
.window-title img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
main .container {
  margin-top: 15px;
  border-radius: 4px;
  border: 1px solid #c1d7ff;
  width: 440px;
  padding: 15px;
  background: #f1f6fe;
}
main .container p {
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  color: #333333;
}

.window-bottom {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  margin-top: 10px;
  width: 440px;
}
.window-bottom .window-bottom-l {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #999999;
}

.window-bottom .window-bottom-r {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.window-bottom .window-bottom-r button {
  width: 80px;
  height: 36px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.window-bottom .window-bottom-r button:first-child {
  background: #fff;
  color: #386bf3;
  border: 1px solid #cad8ff;
}

.window-bottom .window-bottom-r button:last-child {
  color: #fff;
  background: #2d5aff;
}
