
@font-size-base: 14px;
@font-size-xs: 12px;
@font-size-sm: 14px;
@font-size-lg: 16px;
@font-size-xl: 18px;
@font-size-xxl: 20px;
@font-size-24: 24px;
@font-size-26: 26px;
@font-size-32: 32px;
@font-size-36: 36px;
@font-size-40: 40px;
@font-size-48: 48px;
@font-size-52: 52px;
// 主色调
@van-mainbgc-color: #f6f6f6;
@van-primary-color: #2b53e5;
@van-gray-5: #303030;
@van-gray-6: #999999;
@van-gray-7: #666666;
@van-gray-8: #333333;
@van-nav-bar-height: 44px;
@van-base-font: Source Han Sans CN-Normal, Source Han Sans CN, -apple-system, BlinkMacSystemFont,
  "Helvetica Neue", Helvetica, Segoe UI, Arial, Roboto, "PingFang SC", "miui", "Hiragino Sans GB",
  "Microsoft Yahei", sans-serif;
@van-overlay-background: rgba(0, 0, 0, 0.4);
